
/*商品颜色设置开始*/
.content-box{
  height: 100%;
  background-color: #fff;
}

.content-title {
  border-bottom: 1px solid #e8eaec;
  padding: 14px 16px;
}
/*商品颜色设置结束*/





/* 商品分类页面开始 */
.iu-tree1{
  height: 100%;
  overflow: auto;
}

.ive-button {
    padding: 20px 0;
  }

  .demo-split {
    height: 100%;
    border: 1px solid #dcdee2;
    background-color: #fff;
    
  }
  .demo-split-pane {
    /* padding: 10px; */
    margin: 0px;
  }

  .ivu-table td.tab-font-color {
    font-weight: bold;
    color: #333;
  }
  .operTime button {
    margin-left: 15px;
  }
  /* 商品分类页面结束 */

.class-layout{
  height: 100%;
 
}
.left-sider{
  overflow: hidden;
  background: #fff;
   border: 1px solid #dcdee2;
 /*   margin:0 4px;  */

}
.ivu-left-list{
  padding:10px 2px;
  border-bottom: 1px solid #dcdee2;
}
.iu-tree{
  height: calc(100% - 60px);
  overflow: auto;
  margin-top:10px;
}

.goods-content-con{
  background: #fff;
  border: 1px solid #dcdee2
}
.iu-table-div{
  padding: 10px;
}
.table-all-width{
  margin-top: 10px;
}
.form-box{
  max-height:500px;
  overflow-y:auto;
  overflow-x: hidden;
}
.form-boxCode{
  max-height:400px;
  overflow-y:auto;
  overflow-x: hidden;
}
.demo-upload-list{
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  margin-right: 4px;
}
.demo-upload-list img{
  width: 100%;
  height: 100%;
}
.demo-upload-list-cover{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.6);
}
.demo-upload-list:hover .demo-upload-list-cover{
  display: block;
}
.demo-upload-list-cover i{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}
.demo-upload-list{
  width: 200px !important;
  height:150px !important;
}
.demo-upload-list-cover i{
  margin-top:50px !important;
  font-size:50px !important;
}